*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
nav img{
    height: 40px;
}
.logo{
    display: flex;
    align-items: center;
}
nav{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
}
#navshow .fa-solid{
    font-size: 18px;
}
.main{
    display: flex;
}
.main::-webkit-scrollbar{
    display: none;
}
.smallNav{
    height: 30px;
    transform: rotate(270deg);
    position: absolute;
    top: 250px;
    left:-100px;
}
.smallNav a{
    color: #242821;
    text-decoration: none;
}
.smallNav>*{
    margin: 5px;
}
.plants{
    display: flex;
    overflow: scroll;
    padding-top: 20px;
    margin-left: 60px;
}
.plants>*{
    margin: 15px;
}
#plant img{
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
#plant h3{
    color: #242821;
}
#plant{
    height: 400px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 300px;
}
#plant b{
    color: #133d12;
}
#specs h5,#specs p,#specs b{
    display: flex;
    justify-content: center;
    margin: 5px;
}
#cart{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#cart button{
    color: #133d12;
    border: 1px solid #133d12;
    border: none;
    color: white;
    height: 40px;
    background-color: transparent;
    background-color: #133d12;
    width: 100px;
}
.types{
    margin-top: 20px;
    height: 550px;
    overflow-y: scroll;
}
.types h3{
    padding-left: 20px;
    color: #133d12;
}
.popular-container{
    display: flex;
    flex-wrap: wrap;
}
.popular::-webkit-scrollbar{
    display: none;
}
#popular{
    margin: 20px;
}
#popular #specs h5,#popular #specs p,#popular #specs b{
    margin: 0;
    font-size: 14px;
}
#popular #plant{
    width: 150px;
    height: 250px;
}
#popular #cartt button{
    color: white;
    border: none;
    background-color: #035d01;
    font-size: 13px;
    height: 20px;
    width: 40px;
}
#cartt{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
#popular img{
    width: 120px;
    height: 120px;
}
.navlinks{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    background-color: #133d12;
}
.navlinks .fa-solid{
    font-size: 18px;
    color: white;
    padding: 5px;
}
li{
    list-style: none;
    margin: 20px;
}
li a{
    color: white;
    text-decoration: none;
}
.save{
    padding: 20px;
    display: flex;
    align-items: center;
}
#slogan{
    font-size: 25px;
}
#slogan b{
    color: #035d01;
}
.sloganp{
    color: gray;
    font-size: 13px;
}