*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
nav img{
    height: 40px;
}
.logo{
    display: flex;
    align-items: center;
}
nav{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
}
#navshow .fa-solid{
    font-size: 18px;
}
.navlinks{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    background-color: #133d12;
}
.navlinks .fa-solid{
    font-size: 18px;
    color: white;
    padding: 5px;
}
li{
    list-style: none;
    margin: 20px;
}
li a{
    color: white;
    text-decoration: none;
}
.mainimg{
    object-fit: cover;
}
.mainimg img{
    width: 100%;
    height: 280px;
    object-fit: contain;
}
.slogan{
    text-align: center;
    width: 200px;
    position: absolute;
    top: 150px;
    left: 100px;
}
.slogan h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.slogan em{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #133d12;
    font-weight: 700;
    color: white;
}
section{
    background-color:#F4F6F3;
}
.sec{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
hr{
    margin: auto;
    width: 100px;
    height: 2px;
    background-color: #133d12;
    margin-bottom: 20px;
}
.encourage{
    display: flex;
    justify-content: center;
}
.encourage>*{
    margin: 5px;
}
.save{
    background-color: white;
    width: 120px;
    height: 180px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.save img{
    width: 120px;
    object-fit: contain;
    height: 100px;
}
.save  h5{
    display: flex;
    justify-content: center;
}
.save hr{
    margin: auto;
    width: 20px;
    height: 1px;
    margin-bottom: 10px;
}
h4{
    display: flex;
    justify-content: center;
}
.about{
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.about>*{
    margin: 5px;
}
.about p{
    font-size: 11px;
    text-align: center;
}
.about img{
    height: 200px;
    width: 200px;
}
.about hr{
    height: 1px;
    width: 40px;
    margin-bottom: 10px;
}
.about{
    background-color: white;
}
.subscribe{
    padding-top: 30px;
    background-color: #e1e6e0;
}
.subscribe b,.subscribe p,.inp,.btn{
    display: flex;
    justify-content: center;
}
.subscribe p{
    font-size: 13px;
}
.inp{
    padding-top: 20px;
}
.inp input{
    height: 30px;
    width: 200px;
}
.btn button{
    margin-top: 20px;
    border: 1px solid #133d12;
    background-color: transparent;
    color: #133d12;
    height: 40px;
    margin-bottom: 20px;
    width: 100px;
}
::placeholder{
    padding-left: 10px;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}
footer h3{
    color: #035d01;
}
.socials{
    display: flex;
    justify-content: center;
}
.socials .fa-brands{
    color: #035d01;
    font-size: 27px;
    margin: 5px;
}
.row{
    display: flex;
}
.center-div{
    display: grid;
    place-items: center;
}
.pollution-information{
    display: flex;
    margin: 2em 0;
 }
.pollution-information img{
    width: 3em;
    height: 3em;
    margin-right: 1em;
}
#pollution-message{
    font-size: small;
}
.danger-text{
    color: red;
}
.good-text{
    color: green;
}