*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.pic img{
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    /*border-radius: 250px 250px 0 0;*/
   /* background-image: url(images/pexels-sohail-nachiti-807598.jpg);*/
}
.form h3{
    padding-top: 60px;
    display: flex;
    font-family: pacifico;
    justify-content: center;
    color: #133d12;
    font-size: 35px;

}
h4{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
h4 span{
    background: white;
    padding: 0 10px;
    color: gray;
}
.h4 {
    width: 300px;
    margin: auto;
}
.form{ 
    position: absolute;
    width: 100vw;
    border-radius: 0 0 250px 250px;
    height: 85vh;
    top: 0;
    background-color: white;
}
.img-form{
    position: absolute;
    top: 100px;
    left:auto;
}
form p a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
.img-form p{
    color: white;
    text-align: center;
    padding: 10px;
}
.img-form h3{
    display: flex;
    color: #242821;
    color: white;
    justify-content: center;
    font-family: 'Metal Mania', cursive;
    font-size: 40px;
}
.socials{
    display: flex;
    justify-content: center;
}
.fa-brands{
    font-size: 30px;
    margin: 10px;
    color: #133d12;
}
#reg{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: gray;
}
#reg b{
    color: #133d12;
}
hr{
    width: 120px;
    height: 1px;
    background-color: white;
    margin: auto;
}
.form p{
    display: flex;
    justify-content: center;
    color: gray;
}
form p{
    text-align: right;
}
.form{
    padding-top: 20px;
}
form>*{
    margin: 10px;
}
form div{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    height: 40px;
    width: 300px;
    border: 1px solid #133d12;
}
form button{
    margin-top: 50px;
    height: 40px;
    width: 310px;
    background-color: #133d12;
    color: white;
    font-size: 16px;
}
form{
    padding-top: 20px;
    padding-bottom: 30px;
}
::placeholder{
    color: #133d12;
    padding-left: 5px;
}